*{
    margin: 0;
   
     font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 10.4vh;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.navlogo img{
    height: 5.2vh;
    width: 2.4vw;
    margin-left:2.4vw ;
}
.navjio{
    color: white;
    font-weight: bolder;
    font-size: 1.4vw;
    margin-left: 0.6vw;
    margin-right: 1vw;
}
.navlist{
   display: flex;
   justify-content: space-evenly;
   text-align: center;
}
.list{
    color: white;
    font-size: 1vw;
    font-weight: bold;
     margin:0.3vw;
}
.subscribe{
    color: rgb(193, 163, 98);
    border: 0.26vh solid rgb(193, 163, 98);
    width:7.2vw;
    height: 3.9vh;
    border-radius: 1.2vw;
    align-items: center;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.85vw;
 margin-top: 1.2vw;
}
.foryou{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.09rem solid white;
    width: 4.8vw;
        height: 6.5vh;
    border-radius: 1.8rem;
   
}

.txt{
    text-decoration: none;
    color: white;
}

.x{
    margin-top: 1.2vw;
    margin-left: 0.9vw;
}
.navgap{
    width: 35%;
}
.navinput{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.03rem solid grey ;
    height: 6.5vh;
    width: 15.2vw;
    border-radius: 3.6rem;
    font-size: 1vw;
    margin-right: 1.2vw
}
.search{
    background-color: black;
    color: gray;
    font-weight: 700;
   border: none;
    
}
.navicon{
    color: white;
}
.navpic img{
    height: 5.2vh;
    width: 2.4vw;
    margin-right:2.4vw ;
}
.hero{
   
    width:100%;
    height: 65vh;
    background-color: black;
}
.heroimg img{
  height:65vh ;
}
.head{
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 100%;
    font-size: 1.3rem;
}
.boxes{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: nowrap;
    background-color: black;
    height: 350px; 
    align-items: center;
    
}
.box {
    background-size: cover;
    height: 45.5vh;
    width: 16%;
    margin: 0.06vw;
    border-radius: 1.2em;
}
.box:hover{
    cursor: pointer;
    box-shadow: inset 2px 2px 20px 20px rgba(255, 255, 255, 0.17);
}
.foot1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 39vh;
    background-color:#17181A;
    color: white;
}
.foot1 h2{
    font-weight: 700;
    font-size: 1.5rem;
}
.foot1 h4{
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 1.2vw;
}
.foot1 li{
    color: #D9D6E5;
    font-size: 0.85rem;
    font-weight: 700;
    text-decoration: none;
    list-style: none;
    margin-top: 0.6vw;
}
.foot1 li:hover{
  cursor: pointer;
}

.list3 a i{
    color: white;
    margin: 1.2vw;
    border: 0.06em solid transparent;
    background-color: rgba(235, 227, 227, 0.293);
    height: 7.8vh;
    width: 3.6vw;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1.02vw;
    border-radius: 3.6em;
}
.foot2 img{
    height: 6vh;
    width: 3vw;

}
.foot2{
    height:10vh ;
    color: white;
    font-size: 0.6rem;
    font-weight: 700;
    border-top: 1px solid rgba(128, 128, 128, 0.652);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#17181A;
    padding: 1.5em;
}